PORT=3000

IFOOD_CLIENT_ID=seu_client_id
IFOOD_CLIENT_SECRET=seu_client_secret

REDIS_URL=redis://localhost:6379
SQLITE_PATH=./data.db

STREAM_KEY=integration_events_stream
CONSUMER_GROUP=ifood_workers
CONSUMER_NAME=worker-1

MAX_ATTEMPTS=6
RETRY_BASE_SECONDS=5